<%= form_for(@micropost) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_area :content, class: "tracking_char_input", maxlength: 140, placeholder: "Compose new micropost..." %>
	</div>
	<div class="remaining_char_note">
		Characters left: 140
	</div>
	<%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
